<footer>
    <span id="busuanzi_container_site_pv" style="display: inline;"></span>
    <span>👁<span id="busuanzi_value_site_pv"></span></span>
    <span>
        <%- __('PoweredBy').split('Hexo')[0] %><a target="_blank" rel="noopener" href="https://hexo.io" alt="Hexo">
            <p class="hover-underline night" style="display: inline;">Hexo</p>
        </a><%- __('PoweredBy').split('Hexo')[1] %>
        <p style="display: inline; color: red;">❤</p>
        <%- __('BuiltWith').split('Wang')[0] %><a target="_blank" rel="noopener" href="https://github.com/xingwangzhe/hexo-theme-wang" alt="Wang">
            <p class="hover-underline night" style="display: inline;">Wang</p>
        </a><%- __('BuiltWith').split('Wang')[1] %>
    </span>
    <span>
        <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener" style="color: #888; text-decoration: none;">粤ICP备2024331179号</a>
    </span>
</footer>
